:root {
	--base-black: #1f1f1f;
	--base-text: #545454;
	--base-title: var(--base-black);
	--base-background: #fff;
	--base-panel: #f8f8f8;
	--base-border: #e1e1e1;

	--base-accent: rgba(57, 231, 227, 1);
	--base-accent12: rgba(57, 231, 227, 0.12);

	--base-light-accent: #fbd469;
	--base-hover: rgba(245, 166, 35, 0.15);
	--base-focus: 0 0 0 3px var(--base-accent);
	--base-above: 0 2px 8px rgba(0, 0, 0, 0.15);
	--base-above-focus: 0 2px 8px 3px rgba(0, 0, 0, 0.15), var(--base-focus);
	--base-gradient: linear-gradient(to right, var(--base-light-accent), var(--base-accent));

	--border-radius: 8px;
	--base-transition: 0.1s ease-in-out;
}

@media (prefers-color-scheme: dark) {
	:root {
		--base-text: #bbb;
		--base-title: #fff;
		--base-background: #232323;
		--base-panel: #2a2a2a;
		--base-border: #323232;
		--base-above: 0 0 0 transparent, 0 2px 8px rgba(0, 0, 0, 0.3),
			inset 0 1px 0 hsla(0, 0%, 100%, 0.1);
		--base-shadow-focus: 0 2px 8px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 hsla(0, 0%, 100%, 0.1),
			var(--base-focus);
	}
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	min-height: 100vh;
	font-size: 15px;
	background-color: var(--base-background);
	color: var(--base-text);
	color-scheme: light dark;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

.app__wrapper {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
}

.page {
	padding-top: 24px;
	padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--base-title);
}

hr {
	border: none;
	border-bottom: 1px solid var(--base-border);
	background: none;
}

p {
	margin: 0;
	font-size: 1rem;
	color: var(--text-color80);
	line-height: 1.4em;
}

a {
	color: var(--base-text);
	text-decoration: none;
	transition: var(--base-transition) color;
}
a:hover {
	color: var(--base-title);
}
